<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef> Order </th>
      <td mat-cell *matCellDef="let element"> {{element.order | orderPipe}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="actionOnFailure">
      <th mat-header-cell *matHeaderCellDef> Action On Failure </th>
      <td mat-cell *matCellDef="let element"> {{element.actionOnFailure | fulfillmentPipe}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="required">
      <th mat-header-cell *matHeaderCellDef> Required </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-checkbox [disabled]="true" [checked]="element.required" matTooltip="Toggle Batch Action"
        matTooltipPosition="above">
    </mat-checkbox>
 </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="financeColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: financeColumns;"></tr>
  </table>