div.orchestrator-action-info {
    margin-top: 7vh;
    margin-right: 5vh;
}

div.action-table{
    margin-left: 5vh;
}

#create-button {
    background-color: green;
    color: white;
    margin: 10vh 0 0 5vw;
}
#edit-button {
    background-color: goldenrod;
    float: right;
}

h3 {
    text-align: center;
    font-style: oblique;
}

a {
    color: white !important;
  }
section {
    background-color: whitesmoke;
}